body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#left-panel {
    width: 10%;
    background-color: #000000;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#left-panel a {
    font-size:120%;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
#left-panel a:hover {
    font-size:140%;
    color: #ff0000;
}

#content {
    flex: 1;
    padding: 20px;
    color: rgb(101, 38, 38);
}

#home-content,#contact-content,#information-content,#guide-content {
    display: none;
}

#home-content.show,#contact-content.show,#information-content.show,#guide-content.show {
    display: block;
}